<div class="list-group">
    <a ng-click="join(game.id)" ng-repeat="game in games" class="list-group-item list-group-item-action">{{ game.name }} <span class="pull-right"> Online players: {{ game.players.length }}</span></a>
</div>

<!-- Modal -->
<div class="modal fade" id="gameAuth" tabindex="-1" role="dialog" aria-labelledby="gameAuth" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Join game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="gameAuthenticate()">
                    <div class="form-group">
                        <label for="gamePassword">Password</label>
                        <input required type="password" class="form-control" ng-model="gamePassword" id="gamePassword" placeholder="******">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirm" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
