Game  has started.
<div class="row ng-scope">
    <form ng-submit="startGame()" class="ng-pristine ng-valid">
        <div class="col-md-6" style="height:500px; width: 100%;">
            <!--            <a-scene embedded example1 
                                 inspector="url: https://aframe.io/aframe-inspector/dist/aframe-inspector.js">
                            <a-entity animation-mixer
                                      json-model="src: url(/gameObjects/3DModels/spiderMan/spiderman-scene.json)" 
                                      position="0 0 -7" scale="0.035 0.035 0.035" rotation="0 -90 0">
                            </a-entity>
                            <a-plane color="#ccc" height="20" width="20" rotation="-90 0 0"></a-plane>
                        </a-scene>-->
            <a-scene embedded>
               
                <!-- Map objects --> 
                <a-enemy 
                    enemy="name: Mincho; type:champion; healthpoints: 200; hitpoints: 20;" 
                    geometry="primitive: box" cursor-listener position="-1 0.5 -3" rotation="0 45 0"></a-enemy>
                <a-enemy enemy="name: Gosho; type:giant; healthpoints: 500; hitpoints: 50;" geometry="primitive: sphere" cursor-listener position="0 1.25 -5" radius="1.25"></a-enemy>
                <a-enemy enemy="name: Pesho; type:primary; healthpoints: 100; hitpoints: 10;"  geometry="primitive: cylinder" cursor-listener position="1 0.75 -3"></a-enemy>

                <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" scale="" visible="" material="" geometry=""></a-plane>
                <a-sky color="#ECECEC" position="" rotation="" scale="" visible="" material="" geometry=""></a-sky>


                <a-entity object-model="src: url(/gameObjects/3DModels/spiderMan/spiderman-scene.json)"></a-entity>


                <!-- Shows the cursor -->  
                <a-camera>
                    <a-cursor></a-cursor>
                </a-camera>

                <!-- This is our character --> 
                <a-character
                    id="character"
                    character="name: Nono; type: developer; hitpoints: 20; healthpoints: 100;"
                    ></a-character>

            </a-scene>
        </div>

        <div class="col-md-6">
            some controls here
        </div>
    </form>
</div>

<div class="row ng-scope" style="margin-top: 25px;">
    <div class="col-md-12">
        <div class="list-group">
            <a href="" ng-click="leaveGame()" class="list-group-item list-group-item-action">Leave game</a>
        </div>
    </div>
</div>
