You are now connected to game {{ gameId}}
<div class="row">
    <form ng-submit="startGame()">
        <div class="col-md-4">
            <div class="form-group">
                <label for="chooseCharacter">Choose a character</label>
                <select class="form-control" id="chooseCharacter" ng-model="character" ng-change="characterPreview()">
                    <option value="" ng-selected="selected" ng-readonly="checked">Select a character</option>
                    <option ng-repeat="character in characters track by $index" value="{{character.name}}">{{character.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="" id="characterPreview"><h1 class="text-center pagination-center">No preview</h1></div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a ng-repeat="player in players" class="list-group-item list-group-item-action">{{ player.name}} <span class="pull-right"> Level 1</span></a>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Start the game -->
            <input type="submit" class="btn btn-lg btn-info" value="Start Game">
        </div>
    </form>
</div>

<div class="row" style="margin-top: 25px;">
    <div class="col-md-12">
        <div class="list-group">
            <a href="" ng-click="leaveGame()" class="list-group-item list-group-item-action">Leave game</a>
        </div>
    </div>
</div>
