<form ng-submit="login()">
    <div class="form-group" ng-show="error">
        <p>Username should be at least 3 characters long and password at least 6 characters long</p>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input pattern=".{6,}" required type="text" class="form-control" ng-model="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input pattern=".{3,}" type="password" class="form-control" ng-model="password" id="password" placeholder="******">
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
