<form ng-submit="createGame()">
    <div class="form-group">
        <label for="gameName">Game name</label>
        <input required type="text" class="form-control" ng-model="gameName" id="gameName" placeholder="D3stroy !7">
    </div>
    <div class="form-group">
        <label for="gamePassword">Password</label>
        <input type="text" class="form-control" ng-model="gamePassword" id="gamePassword" placeholder="******">
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
